.invoice-detail {
  padding: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__block {
    display: flex;
    align-items: center;
    max-width: 420px;
    margin-bottom: 16px;
  }
  &__form {
    width: 100%;
    max-width: 400px;
    h3 {
      margin-bottom: 32px;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__preview {
    flex: 1;
    margin-left: 42px;
  }

  &__input {
    max-width: 500px;
  }
}
