.type-invoice {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0px 0px 50px 0px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 50px 30px;
  }
  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__btn-img {
    margin-top: 10px;
    width: 50px;
  }
}
