.home-page {
  padding: 42px;
  height: calc(100vh - 100px);
  overflow: auto;

  // &__box-table {
  //   min-width: 12 00px;
  // }

  &__from {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
  }
  &__inputs {
    width: 100%;
  }
}
