.company-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 42px);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__input {
    max-width: 400px;
    width: 320px;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
